<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <add name="conexionDB" connectionString="Data Source=DESKTOP-PGS76P7; initial catalog=AnnesStore; integrated security=true" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>